language: node_js
node_js:
  - node

before_install:
  - openssl aes-256-cbc -K $encrypted_cc4083d8193d_key -iv $encrypted_cc4083d8193d_iv -in add -out ./.deploy_key -d
  - in .deploy_key.enc -out ./.deploy_key -d
  - npm i -g npm@latest

after_success:
  - eval "$(ssh-agent -s)"
  - chmod 600 ./.deploy_key
  - ssh-add ./deploy_key
  - git remote add deploy https://github.com/OliRadlett/f28wp
  - git push deploy

after_script:
  # Note that root user should be replaced by a enew user with less permissions soon
  - ssh -i ./deploy_key root@oliradlett.co.uk cd /var/www/html/f28wp && git pull origin master