body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background-color: #c9f6ff;

}

/* This makes the image move from left to right in a loop that repeats
   using transform property to posotion the left image at the left
   edge of the container when animation begins */
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

/* Callig slide animation, animation property instructs the class
   and uses slide animation runing it for 1 minute in a loop*/
.sliding-background {


    background-image: url(../Sprites/Cloud\ Background\ v2\ x5.png);
    background-repeat: repeat-x;


    height: 100vh;
    width: 5076px;
    animation: slide 60s linear infinite;
}

/* the container hides everything which is conyained outside of it */ 
.container {
    overflow: hidden;

}

#gamearea {
    position: fixed;
    top: 0%;
    margin: 5px;

}

#characterSelection {
    background: rgba(220, 220, 220, 0.6);

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -181px;
    margin-left: -499px;
}
#accountStuff{
    background: rgba(220, 220, 220, 0.6);

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 213px;
    margin-left: -499px;
    width: 998px;
}

th,
td {
    padding: 5px;
    text-align: center;
}


td:hover {
    background-color: rgba(218, 191, 42, 0.6);
}


#Archer_Walk {
    display: none;
}

td:hover #Archer {
    display: none;
}

td:hover #Archer_Walk {
    display: block;
}

#Knight_Walk {
    display: none;
}

td:hover #Knight {
    display: none;
}

td:hover #Knight_Walk {
    display: block;
}

#Wizard_Walk {
    display: none;
}

td:hover #Wizard {
    display: none;
}

td:hover #Wizard_Walk {
    display: block;
}

input {

    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;

}