body {

    font-size: 40px;
    background-color: #c9f6ff;
    color: black;

    width: 100%;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;

}

@keyframes slide {

    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }

}

.sliding-background {

    background-image: url(../Sprites/Cloud\ Background\ v2\ x5.png);
    background-repeat: repeat-x;
    height: 100vh;
    width: 5076px;
    animation: slide 60s linear infinite;

}


.container {

    overflow: hidden;

}

.gamearea {

    position: fixed;
    top: 0%;

}

table {
    /* background: rgba(104, 237, 255, 0.6); */
    /* background: brown; */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    padding: 3%;
    border: 3px solid black;

}

td {
    padding: 5px;
    text-align: center;
}


.hover:hover {
    background-color: rgba(218, 191, 42, 0.6);
}

input {

    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    font-family: 'Press Start 2P', cursive;

}

.log-in {

    padding-top: 3%;
    padding-bottom: 3%;
    font-size: xx-large;
    text-align: left;

}