body {

    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background-color: #c9f6ff;

}

#optionSliders {

    background-color: lightskyblue;
    height: 50%;
    width: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-decoration: none;

}

.sliderTitle {

    background-color: ghostwhite;

}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: gray;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: gray;
    cursor: pointer;
}

.button {

    border-style: solid;
    border-width: 3px;
    border-color: black;
    appearance: button;
    text-decoration: none;
    color: black;
    background-color: grey;
    text-decoration: none;
    position: absolute;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 7px;
    /* vertical-align: text-bottom; */
}


@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

.sliding-background {


    background-image: url(../Sprites/Cloud\ Background\ v2\ x5.png);
    background-repeat: repeat-x;


    height: 100vh;
    width: 5076px;
    animation: slide 60s linear infinite;
}


.container {
    overflow: hidden;

}

#backButton{
    top: 0%;
    position: fixed;
    margin: 5px;
}