body {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #c9f6ff;
    color: black;
    
    width: 100%;
    margin: 0px;
}

.container-forbackground {
    overflow: hidden;
}

.sliding-background-menu {
    background: url(../Sprites/Cloud\ Background\ v2\ x5.png) repeat-x;
    height: 100vh;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
        /* the width */
    }
}

a {

  margin: 0px;
    text-decoration: none;
    color: black;

}

.menu {

    background-color:  rgba(220, 220, 220, 0.6) ;
    position: fixed;
    
    text-align: center;
    width: 410px;
    height: 261px;
    padding: 5px;
    top: 50%;
    left: 50%;
    margin-top: -140.5px;
    margin-left: -215px;
}

.b {
    border: 5px solid black;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    

}

#button{
    margin-top: 5px;

    
}