body {

    font-size: 40px;
    background-color: #c9f6ff;
    color: black;
    
    width: 100%;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;

}

/* This makes the image move from left to right in a loop that repeats
   using transform property to posotion the left image at the left
   edge of the container when animation begins */
@keyframes slide {

    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }

}

/* Callig slide animation, animation property instructs the class
   and uses slide animation runing it for 1 minute in a loop*/
.sliding-background {

    background-image: url(../Sprites/Cloud\ Background\ v2\ x5.png);
    background-repeat: repeat-x;
    height: 100vh;
    width: 5076px;
    animation: slide 60s linear infinite;

}

/* the container hides everything which is conyained outside of it */ 
.container {

    overflow: hidden;

}

.gamearea {

    position: fixed;
    top: 0%;

}

a {

  margin: 0px;
    text-decoration: none;
    color: black;

}

.menu {

    /* border: 5px solid white;
    text-align: center;
    max-width: 50%;
    margin: auto;
    */
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: ghostwhite;
    height: 50%;
    width: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    margin: auto;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-decoration: none;

}

.b {
    border: 5px solid black;
    margin: auto;
    width: 400px;
   
}
.b:hover {background-color: rgba(218, 191, 42, 0.6); }