/* CSS is pretty basic so we'll comment it at the end */

body {

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;

}

#background {

    position: absolute;
    top: 0px;
    left: 0px;

    /* These two lines don't seem to have any effect
    They're probably being overwritten in some JS somewhere but it doesn't really matter */
    width: 10000px;
    height: 10000px;

}

#player {

    position: absolute;
    z-index: 10;

}

#playerId {

    position: absolute;
    z-index: 10;
    color: red;

}

.client {

    background-color: red;

}