/* CSS is pretty basic so we'll comment it at the end */

body {

    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;

}

#background {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000;
    height: 10000;

}

#player {

    position: absolute;
    z-index: 10;

}

#playerId {

    position: absolute;
    z-index: 10;
    color: red;

}

.client {

    background-color: red;

}