.button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    color: #FFFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 15px;
    font-family: sans-serif; 
}
.button:hover {
    background: linear-gradient(#678834 50%, #093905 50%);
}
.button:active {
    background: linear-gradient(#EB7723 50%, #A80000 50%);
}

#choose {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
}
#choices {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.choice {
    width: 120px;
    height: 120px;
}
img {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}